---
layout: default
---
{% if page.title %}<h1>{{ page.title }}</h1>{% endif %}
{% if page.authors %}<p>{{ page.authors | replace: 'Zefeng Wu', '<strong>Zefeng Wu</strong>' }}</p>{% endif %}
{% unless page.show_venue == false %}{% if page.venue or page.pub_year %}<p>{% if page.venue %}<strong>{{ page.venue }}</strong>{% if page.pub_year %}, {% endif %}{% endif %}{% if page.pub_year %}{{ page.pub_year }}{% endif %}</p>{% endif %}{% endunless %}
{% if page.excerpt %}<p>{{ page.excerpt }}</p>{% endif %}
<p class="publication-links">
{% if page.paperurl %}<a href="{{ page.paperurl }}">{{ page.paper_label | default: "Paper" | escape }}</a>{% endif %}
{% if page.codeurl %}<a href="{{ page.codeurl }}">Code</a>{% endif %}
{% if page.modelurl %}<a href="{{ page.modelurl }}">Model</a>{% endif %}
{% if page.projecturl %}<a href="{{ page.projecturl }}">Project</a>{% endif %}
{% if page.videourl %}<a href="{{ page.videourl }}">Video</a>{% endif %}
</p>
{{ content }}
